.div-form-builder-preview-container {
	background-color: #ffffff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	height: auto;
}

body {
	background: #ffffff !important;
}